extends layout

block content
  h1 Your total is #{total}
  h2 Items in your cart:
  each val, key in products
    div
      li #{key}: #{val}
  <br/>
  <br/>
  h3 Enter your payment information below.
  form(action="/payment", method="post")
    div.input
      span.label Your Wallet Address
      input(type="text", name="from", required)
    div.input
      span.label Your Private Key
      input(type="text", name="pvt", required)
    div.actions
      input(type="submit")
